<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis sed fugit, voluptas eum possimus repellendus ab voluptates cupiditate asperiores accusamus aliquam eligendi, voluptatibus placeat tempore officiis totam. Repudiandae, explicabo quo?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fugiat unde consequatur nam nemo commodi, pariatur facere laboriosam deserunt veniam ipsam aut magni dignissimos quos animi, numquam illum quibusdam autem.</p>
    <div class="col-md-1 mx-auto">
        <a href="" class="btn btn-primary btn-lg">Hello</a>
    </div>
</div>