{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Notes App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                {{#if user}}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Notes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/notes">All notes</a>
                        <a class="dropdown-item" href="/notes/add">Add Note</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>
                </li>

                {{else}}

                <li class="nav-item active">
                    <a class="nav-link" href="/users/signin">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/signup">Sign Up</a>
                </li>

                {{/if}}

            </ul>
        </div>
    </div>
</nav> --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Inclutech SS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/app">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="users/myprofile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messages">Mensajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications">Notificaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/friends">Amigos</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/signin">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/signup">Crear cuenta</a>
                </li>
                {{/if}}
            </ul>
            {{#if user}}
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Cerrar sesión</a>
                </li>
            </ul>
            {{/if}}
        </div>
    </div>
</nav>