<!-- Barra lateral de perfil -->
<div class="col-md-3">
    <div class="card py-4">
        <div class="text-center">
            <img src="https://via.placeholder.com/100" class="rounded-circle" alt="Profile Picture">
            <h4>{{user.name}}</h4>
            <p>Ocupación</p>
        </div>
        <hr>
        <div class="p-4">
            <p><strong>Conexiones</strong></p>
            <p>500+ conexiones</p>
        </div>
    </div>
</div>