<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card pt-4">
                <div class="text-center">
                    <img src="https://via.placeholder.com/100" class="rounded-circle" alt="Profile Picture">
                    <h4>{{user.name}}</h4>
                    <p><i>{{user.typeUser}}</i></p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h6>Contact Information</h6>
                    <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Mis publicaciones</h4>
                </div>
            </div>
            {{> all-posts}}
        </div>
    </div>
</div>